@media screen and (max-width: 00px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;  
    }
    #Experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .section_text {
        text-align: center;
        align-items: center;
    }

    section, .section-container{
        height: auto;
    }

    .about-containers {
        flex-direction: column;
        align-items: center;
    }
    section {
        margin: 0 5%;
    }

    .section-pic-container {
        height: 300px;
        width: 300px;
        margin: 0 auto 2rem auto;
    }

    .about-containers {
        margin-top: 0;
    }
}

@media screen and (max-width: 600px) {
    #Contact, footer{
        height: auto;
        padding: 4rem 5rem;
    }
    
    #profile {
        height: auto;
        margin-bottom: 0;
        padding: 4rem 5rem;
    }
    article{
        font-size: 1rem;
    }
    footer nav{
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container {
        flex-wrap: wrap;
    }

    .btn-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact-info-container{
        margin: 0 2rem;
    }

    .contact-info-container p, .nav-links li a {
        font-size: 0.9rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }

    .logo {
        font-size: 1.25rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container{
        height: 45vh;
        width: auto;
        justify-content: center;
        margin: 0 auto 2rem auto;
    }
    .section_text_p2{
        font-size: 1.25rem;
    }
    .title{
        font-size: 2.5rem;
    }
    .text-container{
        padding: 0 1rem;
    }
}

